changeset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://stano.com/changeset"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        version="1.0">
  <element name="changeset">
    <complexType>
      <choice minOccurs="0" maxOccurs="unbounded">
        <element name="add-table">
          <complexType>
            <attribute name="name" type="string" use="required"/>
          </complexType>
        </element>

        <element name="drop-table">
          <complexType>
            <attribute name="name" type="string" use="required"/>
          </complexType>
        </element>

        <element name="rename-table">
          <complexType>
            <attribute name="old-name" type="string" use="required"/>
            <attribute name="new-name" type="string" use="required"/>
          </complexType>
        </element>

        <element name="add-column">
          <complexType>
            <attribute name="table" type="string" use="required"/>
            <attribute name="name" type="string" use="required"/>
            <attribute name="type" type="string" use="required"/>
            <attribute name="length" type="integer"/>
            <attribute name="scale" type="integer"/>
            <attribute name="required" type="boolean" use="required"/>
            <attribute name="default" type="string"/>
          </complexType>
        </element>

        <element name="drop-column">
          <complexType>
            <attribute name="table" type="string" use="required"/>
            <attribute name="name" type="string" use="required"/>
          </complexType>
        </element>

        <element name="rename-column">
          <complexType>
            <attribute name="table" type="string" use="required"/>
            <attribute name="old-name" type="string" use="required"/>
            <attribute name="new-name" type="string" use="required"/>
          </complexType>
        </element>

        <element name="modify-column">
          <complexType>
            <attribute name="table" type="string" use="required"/>
            <attribute name="name" type="string" use="required"/>
            <attribute name="old-type" type="string" use="required"/>
            <attribute name="old-length" type="integer"/>
            <attribute name="old-scale" type="integer"/>
            <attribute name="old-required" type="boolean" use="required"/>
            <attribute name="old-default" type="string"/>
            <attribute name="new-type" type="string" use="required"/>
            <attribute name="new-length" type="integer"/>
            <attribute name="new-scale" type="integer"/>
            <attribute name="new-required" type="boolean" use="required"/>
            <attribute name="new-default" type="string"/>
          </complexType>
        </element>

        <element name="add-key">
          <complexType>
            <attribute name="table" type="string" use="required"/>
            <attribute name="type" type="string" use="required"/>
            <attribute name="columns" type="string" use="required"/>
          </complexType>
        </element>

        <element name="drop-key">
          <complexType>
            <attribute name="table" type="string" use="required"/>
            <attribute name="type" type="string" use="required"/>
            <attribute name="columns" type="string" use="required"/>
          </complexType>
        </element>

        <element name="add-constraint">
          <complexType>
            <attribute name="table" type="string" use="required"/>
            <attribute name="name" type="string" use="required"/>
            <attribute name="sql" type="string" use="required"/>
          </complexType>
        </element>

        <element name="drop-constraint">
          <complexType>
            <attribute name="table" type="string" use="required"/>
            <attribute name="name" type="string" use="required"/>
          </complexType>
        </element>

        <element name="add-relation">
          <complexType>
            <attribute name="from-table" type="string" use="required"/>
            <attribute name="from-column" type="string" use="required"/>
            <attribute name="to-table" type="string" use="required"/>
            <attribute name="to-column" type="string" use="required"/>
            <attribute name="type" type="string" use="required"/>
          </complexType>
        </element>

        <element name="drop-relation">
          <complexType>
            <attribute name="from-table" type="string" use="required"/>
            <attribute name="from-column" type="string" use="required"/>
            <attribute name="to-table" type="string" use="required"/>
            <attribute name="to-column" type="string" use="required"/>
          </complexType>
        </element>

        <element name="add-view">
          <complexType>
            <attribute name="name" type="string" use="required"/>
            <attribute name="sql" type="string" use="required"/>
          </complexType>
        </element>

        <element name="drop-view">
          <complexType>
            <attribute name="name" type="string" use="required"/>
          </complexType>
        </element>
      </choice>
    </complexType>
  </element>
</schema>
